<% layout('layout') %>
<div class="test">
    <!-- 456 <br>
    <audio src="/static/music/0001.mp3" autoplay controls></audio> -->
    <div class="musicList">
        <div class="musicBlock">
            <div class="musicCover">

            </div>
            <div class="musicInfo">
                <div class="musicName">
                    <h1>這是歌名</h1>
                </div>
                <div class="musicSinger">
                    <h1>這是歌手</h1>
                </div>
            </div>
        </div>
        <div class="musicBlock">
            <div class="musicCover">

            </div>
            <div class="musicInfo">
                <div class="musicName">
                    <h1>這是歌名2</h1>
                </div>
                <div class="musicSinger">
                    <h1>這是歌手2</h1>
                </div>
            </div>
        </div>
    </div>
</div>