<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/login.css">
    
    <title><%= title %></title>

    <script>
        var users = <%- JSON.stringify(user) %>; //將user表格傳入js檔
        // console.log(users);
    </script>
</head>
<body>
    <div class="demo form-bg">
        <div class="container">
            
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                    <form id="login-form" class="form-horizontal" action="/home" method="GET">
                        <div class="heading">登入介面</div>
                        <div class="form-group">
                            <i><img class="icon" src="static/images/user_name_icon.png"></i><input required name="login[username]" type="email" class="form-control user_account" placeholder="Username" id="username">
                        </div>
                        <div class="form-group">
                            <i><img class="icon" src="static/images/lock_icon.png"></i><input required name="login[password]" type="password" class="form-control password" placeholder="Password" id="password">
                        </div>
                        <div class="form-group">
                            <button type="submit" id="btn" class="btn btn-default">Log in</button>
                            <div class="reg_btn_position">還沒<a href="/register" class="create_account">註冊</a>？趕緊加入我們！</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        © 2023 All rights reserved by Election the Rock.
    </footer>
    <script src="/static/js/password.js"></script>
</body>
</html>
