<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/register.css">

    <title><%= title %></title>
</head>
<body>
    <div class="main">
        <div class="login">
            註冊成功 過3秒將回到登入介面 <br>
            <a href="/">若無反應請點此</a>
        </div>
    </div>
    <script src="/static/js/regfin.js"></script>
</body>
</html>