<% layout('layout') %>

<!-- <div class="test">
    
    <div class="musicList">
        <% for(var i = 0; i < song.length; i++){ %>
            <div class="musicBlock" id="<%= song[i].filelink %>">
                <div class="musicCover">
                    <img src="/static/images/<%= song[i].cover_img %>.png" alt="" class="imgs">
                </div>
                <div class="musicInfo">
                    <div class="musicName">
                        <h1 id="songTitle"><%= song[i].songname %></h1>
                    </div>
                    <div class="musicSinger">
                        <h1 id="singerName"><%= singer[i].singername %></h1>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div> -->