<header>
    <div class="banner">
        <img src="/static/images/banner1.png" alt="" class="imgs" id="imgs">
    </div>
    <div class="menu">
        <div class="logo"><a href="#">sspootifiy</a></div>
        <nav>
            <ul class="flex-nav">
                <li><a href="/home"><i class="fa-solid fa-house"></i> 首頁</a></li>
                <li><a href="/trend"><i class="fa-solid fa-fire"></i> 熱門</a></li>
                <li><a href="/history"><i class="fa-solid fa-clock-rotate-left"></i> 播放紀錄</a></li>
                <li><a href="/playlist"><i class="fa-solid fa-list"></i> 你的清單</a></li>
            </ul>
        </nav>
        <div class="search">
            <form action="/search" method="post">
                <input type="text" name="search" placeholder="我很好奇...">
                <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i>搜尋</button>
            </form>
        </div>
    </div>
    <div class="theme">
        <h1><%= title %></h1>
    </div>
    <div class="angle">
        <i class="fa-solid fa-angle-down fa-bounce fa-2xl" id="slide-angle"></i>
    </div>
</header>